body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    margin-bottom: 80px;
}
.back-button{
    cursor: pointer;
    position: absolute;
    font-size: 4em;
    color: #2c3e50;
    text-decoration: none;
    line-height: 1;
    left: 2rem;
    top: 1rem;
}
.header {
    padding: 20px;
    text-align: center;
}
h1 {
    font-family: 'Pacifico', cursive;
    
}
h4 {
    font-weight: 600;
}
#user-icon{
    width: 100%;
    height: 7rem;
    border-radius: 50%;
    margin-bottom: 20px;
    color: var(--color-text);
}
h2{
    font-size: 1.3rem;
    margin-bottom: 10px;
}
h3{
    font-size: 1.1rem;
    margin-bottom: 5px;
}
#infos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    justify-content: stretch;
}
#infos p {
    margin: 5px 0;
    font-size: 1rem;
    border: solid 1px var(--color-secondary);
    border-radius: 1rem;
    padding: 10px;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: center;
}
#infos span{
    text-align: start;
}
#button-edit{
    background-color: var(--color-primary);
    border : none;
    box-shadow: 2rem;
    width: 90%;
    margin: 0.5rem;
}
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    background-color: var(--card-background);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
    z-index: 1000;
}

.bottom-nav .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-text);
    flex-grow: 1;
    padding: 5px;
    transition: color 0.3s ease;
}

.bottom-nav .nav-item i {
    font-size: 1.6em;
    margin-bottom: 4px;
}

.bottom-nav .nav-item span {
    font-size: 0.8em;
    font-weight: 500;
}

.bottom-nav .nav-item.active {
    color: var(--color-primary);
}

.bottom-nav .nav-item:hover {
    color: var(--color-primary);
}